@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Comfortaa', cursive, sans-serif;
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-img {
  background-image: url('../public/images/hero4.jpg');
  background-position: 50% 20%;
}

.custom-img2 {
  background-image: url('../public/images/bg2.jpg');
  background-position: 50% 23%;
}

.submit-btn {
  @apply px-8 py-2 border p-3 w-1/2 text-white hover:scale-110 transition transform hover:text-gray-300;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

@media (pointer: fine) {
  body {
    background-attachment: fixed;
  }
}
